<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

    <center> <h2>CLIENTE</h2> </center>
  <form th:object="${owner}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('NOMBRES', 'firstName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('APELLIDOS', 'lastName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('DIRECION', 'address', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('CIUDAD', 'city', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('TELEFONO', 'telephone', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${owner['new']} ? 'AÑADIR CLIENTE' : 'ACTUALIZAR CLIENTE'"
          class="btn btn-default" type="submit" th:text="${text}">Add
          Owner</button>
      </div>
    </div>
  </form>
</body>
</html>
